@media screen and (max-width: 1300px) {
    main {
        grid-template-columns: 100%;
        grid-template-rows: 150px auto;
    }

    .menu {
        width: 100%;
        height: 150px;
        flex-direction: row;
        justify-content: flex-start;
        background-color: #d34f3d;
    }

    .board {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    #nav-gif {
        display: none;
    }

    .full-size {
        width: 100%;
        top: 150px;
        left: 0;
    }

}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 100%;
        grid-template-rows: 70px auto;
    }

    .menu {
        width: 100%;
        height: 70px;
    }
    
    .full-size {
        top: 70px;
    }

    #logo {
        width: 100px;
    }
    
}
